.main-heading{
    color:black;
    text-align: center;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight:bold;
    font-size:30px;
}
.label-name{
    color:black;
    text-align: right;
    font-size: 16px;
    font-weight:bold;
    font-family:'Times New Roman';
    
}
.button{
    background-color:black;
    color:whitesmoke;
    font-size:12px;
    text-align: center;
    height:25px;
    width:85px;
    font-weight: bold;
    font-family: 'Times New Roman';

}
.button-2{
    background-color:black;
    color:whitesmoke;
    font-size:12px;
    text-align: center;
    height:25px;
    width:95px;
    font-weight: bold;
    font-family: 'Times New Roman';

}
.main-card{
    text-align:center;
}

.create-btn {
    width: 100%;
}

.message-box {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    background-color: whitesmoke;
    height: 80vh;
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-items: stretch;
}

.messages {
    overflow-y: scroll;
    flex: 1;
    width: 100%;
}

.inputs {
    padding: 10px;
    display: flex;
}

h2 {
    text-align: center;
}

#message {
    flex: 1;
}

.text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.muted {
    font-size: 10px;
    color: darkgray;
}
.content {
    display: flex;
    align-items: center;
    justify-content: center;
  }